:root {
    --base: #ffbf00;
    --spacing: 10px;
    --blur: 10px;
}

body {
    text-align: center;
    background: #212121;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.controls {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
}

input {
    width: 100px;
    
}

img {
    max-width: 800px;
    max-height: 400px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
}